<nav class="nav  nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="pagination  pagination--previous">&larr; Neuer</a>
  {% else %}
    <span class="pagination  pagination--previous">&larr; Neuer</span>
  {% endif %}

  <span class="pagination  pagination--counter">Seite: {{ paginator.page }} von {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="pagination  pagination--next">Älter &rarr;</a>
  {% else %}
    <span class="pagination  pagination--next">Älter &rarr;</span>
  {% endif %}

</nav>
